<div class="modal" *ngIf="isVisible">
  <div class="container">
    <div>
      <div>
        <div class="modalHeader">
          <h2>My modal</h2>
          <span (click)="cerrarPopUp()">x</span>
        </div>
        <div class="modalContent">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio quibusdam numquam vel enim laboriosam reprehenderit delectus libero facilis sed. Reiciendis et sunt molestiae laboriosam, dolore dignissimos at aliquid itaque error.
        </div>
      </div>
    </div>
  </div>
</div>
